<html>
  <head>
  	<meta charset="UTF-8">
  	<title>Document</title>
  </head>
  <body>
    <p>
    	<%= message %>
      
    </p>

    <form>
    	<input type = "text" name = "guess" placeholder = "Take a guess">
    	<input type = "submit" value = "Guess!">
    </form>
  </body>
</html>